<div class="sidebar animate__animated animate__fadeInLeft animate__faster" 
    [class.collapsed]="isCollapsed">

    <div class="brand-logo-section">
        <img [src]="isCollapsed ? 'assets/images/isotipo.svg' : 'assets/images/logo.svg'" alt="fisotec">
    </div>

    <div class="separator"></div>

    <div class="top-section">

        <div class="menu row mx-0">
        
            <div class="col-12 px-0 text-center" *ngFor="let route of mainRoutes">

                <div [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="{fragment: 'exact', exact: false}"  class="row mx-0 py-3 py-md-2 align-items-center option">
                   
                    <div class="px-1 text-center" [class.col-12]="isCollapsed" [class.col-4]="! isCollapsed">
                        <img class="option-icon" [src]="route.iconPath" [attr.alt]="route.label">
                    </div>
        
                    <div class="col-8 ps-0 pe-2 pe-lg-3" [class.d-none]="isCollapsed">
                        {{route.label}}
                    </div>
        
                </div>

            </div>

        </div>

    </div>
    
    <div class="separator"></div>
    
    <div class="middle-section"></div>
    
    <div class="separator"></div>

    <div *ngIf="user.hasSomeAdminRole" class="bottom-section">

        <div class="menu row mx-0">
        
            <div class="col-12 px-0 text-center" *ngFor="let route of administrationRoutes">

                <div [routerLink]="route.path" routerLinkActive="active" [routerLinkActiveOptions]="{fragment: 'exact', exact: false}"  class="row mx-0 py-3 py-md-2 align-items-center option">
                   
                    <div class="px-1 text-center" [class.col-12]="isCollapsed" [class.col-4]="! isCollapsed">
                        <img class="option-icon" [src]="route.iconPath" [attr.alt]="route.label">
                    </div>
        
                    <div class="col-8 ps-0 pe-2 pe-lg-3" [class.d-none]="isCollapsed">
                        {{route.label}}
                    </div>
        
                </div>
                
            </div>

        </div>

    </div>

</div>

<div *ngIf="! isCollapsed" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="backdrop"></div>