/* movil */

.sidebar{
    position: absolute;
    width: 80%;
    top: 7.5%;
    left: 0%;
    height: 92.5%;   
    background-color: var(--main-dark-blue);
    color: #fff;
    box-shadow: 3px 3px 4px 0 rgba(147,147,147,0.5);
    -webkit-box-shadow: 3px 3px 4px 0 rgba(147,147,147,0.5);
    -moz-box-shadow: 3px 3px 4px 0 rgba(147,147,147,0.5);
    transition: width .2s;
    z-index: 1000;
}

.sidebar.collapsed{
    width: 15%;
}

.backdrop{
    position: absolute;
    width: 20%;
    right: 0;
    top: 7.5%;
    height: 92.5%;   
    background-color: rgba(147,147,147,0.5);
    z-index: 1000;
}

.separator{
    height: 2.5%;
}

.brand-logo-section{
    display: none;
    width: 100%;
    box-shadow: 4px 3px 4px 0px rgba(147,147,147,0.5);
    -webkit-box-shadow: 4px 3px 4px 0px rgba(147,147,147,0.5);
    -moz-box-shadow: 4px 3px 4px 0px rgba(147,147,147,0.5);
    background-color: #fff;
}

.brand-logo-section > img{
    max-width: 72.5%;
    max-height: 2rem;
}

.top-section{
    height: 30%;
}

.middle-section{
    height: 30%;
}

.bottom-section{
    height: 25%;
}

.option{
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Rubik Bold' !important;
    font-weight: bold;
}

.option-icon{
    width: 2.25rem;
}

.active{
    color: #00204A;
    background-color: #A7D2FF;
    border-right: .35rem solid #39F;
}

 /* media */
  
 @media(min-width: 800px)
 {
     .sidebar{
         height: 100%;
         width: 15%;
         top: 0%;
     }
     
     .sidebar.collapsed{
         width: 7.5%;
     }
 
     .backdrop{
         display: none;
     }

    .brand-logo-section{
        display: inline-flex;
        align-items: center;
        justify-content: center;    
        height: 7.5%;
    }

    .option{
        font-size: .675rem;
    }   

    .option-icon{
        width: 2rem;
        max-height: 2rem;
    }
 }

 @media(min-width: 1024px)
 {
    .brand-logo-section{
        height: 7%;
    }

    .option{
        font-size: .875rem;
    }   

    .option-icon{
        width: 2.25rem;
        max-height: 2.25rem;
    }
 }

 @media(min-width: 1280px)
 {
    .brand-logo-section{
        height: 6.5%;
    }

    .sidebar{
        width: 12.5%;
        top: 0%;
    }
    
    .sidebar.collapsed{
        width: 5%;
    }

    .option-icon{
        width: 2.5rem;
        max-height: 2.5rem;
    }
 }

 @media(min-width: 1440px)
 {
    .brand-logo-section{
        height: 6%;
    }

    .option{
        font-size: .975rem;
    }   

    .option-icon{
        width: 2.75rem;
        max-height: 2.75rem;
    }
 }

 @media(min-width: 1600px)
 {
    .option{
        font-size: 1rem;
    }   

    .option-icon{
        width: 3rem;
        max-height: 3rem;
    }
 }

 @media(min-width: 800px) and (min-height: 600px)
 {
    .brand-logo-section > img{
        max-height: 1.5rem;
    }
 }
 
 @media(min-width: 1024px) and (min-height: 768px)
 {
    .brand-logo-section > img{
        max-height: 1.75rem;
    }
 }
 
 @media(min-width: 1152px) and (min-height: 864px)
 {
    .brand-logo-section > img{
        max-height: 2.25rem;
    }
 }
 
 @media(min-width: 1176px) and (min-height: 664px)
 {
    .brand-logo-section > img{
        max-height: 1.75rem;
    }
 }
 
 @media(min-width: 1280px) and (min-height: 720px)
 {
    .brand-logo-section > img{
        max-height: 2rem;
    }
 }
 
 @media(min-width: 1280px) and (min-height: 768px)
 {
 
 
 
 }
 
 @media(min-width: 1280px) and (min-height: 800px)
 {
 
 }
 
 @media(min-width: 1280px) and (min-height: 960px)
 {
    .brand-logo-section > img{
        max-height: 2.25rem;
    }

 }
 
 @media(min-width: 1280px) and (min-height: 1024px)
 {
    .brand-logo-section > img{
        max-height: 2.5rem;
    }
 }
 
 @media(min-width: 1360px) and (min-height: 765px)
 {
 
 }
 
 @media(min-width: 1440px) and (min-height: 900px)
 {
    .brand-logo-section > img{
        max-height: 2.25rem;
    }
 }
 
 @media(min-width: 1600px) and (min-height: 900px)
 {
 
 }
 
 @media(min-width: 1600px) and (min-height: 1024px)
 {
    .brand-logo-section > img{
        max-height: 2.5rem;
    }
 }
 
 @media(min-width: 1680px) and (min-height: 1024px)
 {
 
 }
 
 @media(min-width: 1680px) and (min-height: 1050px)
 {
 
 }
 
 @media(min-width: 1600px) and (min-height: 1200px)
 {
    .brand-logo-section > img{
        max-height: 3rem;
    }
 }
 
 @media(min-width: 1768px) and (min-height: 992px)
 {
    .brand-logo-section > img{
        max-height: 2.75rem;
    }
 }
 
 @media(min-width: 1880px) and (min-height: 882px)
 { 
    .brand-logo-section > img{
        max-height: 2.75rem;
    }
 }
 
 @media(min-width: 1920px) and (min-height: 1080px)
 {
    .brand-logo-section > img{
        max-height: 2.75rem;
    }
 }
 
 @media(min-height: 1210px)
 {
    .brand-logo-section > img{
        max-height: 3rem;
    }
 }
 