<div class="selector-section">
    <div class="row justify-content-center section">
        <div class="d-block d-xs-none p-0 col-12">
            <hr class="w-100 separator">
        </div>

        <div class="col-12 p-0 mb-2">
            <layer-selector
            label="Capa:"  
            [layerId]="layerId"
            (change)="onChangeLayerSelector($event)"
            ></layer-selector>
        </div>

        <div id="filter-elements-attribute-selector" class="col-12 p-0 mt-xs-2 mb-2 text-left">
            <label class="mb-2 label-title" for="">Atributo:</label>
            <ng-select
                [items]="attributes"
                bindLabel="display_name"
                bindValue="name"
                class="custom" 
                placeholder="Seleccione una propiedad"
                [clearable]="false"
                [disabled]=" !formData.layer || loadingAttr"
                [loading]="loadingAttr"
                loadingText="Cargando..."
                [(ngModel)]="formData.property"
                [ngModelOptions]="{standalone: true}"
                (change)="onChangePropertySelector()"
                >
            </ng-select>
        </div>

        <div id="filter-elements-attributes-finder " class="pad-left-0 text-left pad-right-0" >            
            <div class="w-100 text-left" class="pad-left-0">            
                <label class="mb-2 label-title" for=""> Valores: </label>            
                <input type="text" [disabled]="! formData.property" class="form-control form-control-sm d-inline search-field" placeholder="Buscar..." [(ngModel)]="search">            
                <img src="assets/icons/svg/lupa.svg" class="icon search-icon" alt="lupa">                    
            </div>           
        </div>
        <div class="feature-property-values-section-empty"
        *ngIf="!formData.property"></div>
    
        <div id="filter-elements-attribute-values-list"
        class="feature-property-values-section"
        *ngIf="formData.property && (propertyValues && propertyValues.length > 0)">
            <label class="custom-control overflow-checkbox"
            *ngFor="let value of ( propertyValues | keyMatch : search)">
                <input type="checkbox" class="overflow-control-input"
                id="feature_value_{{value}}"
                name="feature_value_{{value}}"
                (change)="updateFilter(value)" 
                [checked]="valueExistsOnFilter(value)">
                <span class="overflow-control-indicator"></span>
                <span class="overflow-control-description">{{value | titlecase}}</span>
            </label>
        </div> 
        <div class="feature-property-values-section-empty"
         *ngIf="formData.property && propertyValues.length === 0"  class="mg-t-16"> Vacio </div>
    </div>

    
    <div class="row mt-3 m-0 align-items-center" >
        <div class="col-md-4 p-1">
            <button type="button" class="btn btn-block btn-Aceptar" (click)="toggleSectionVisibility()">
                Aceptar
            </button>
        </div>

        <div class="col-md-4 p-1">
            <button 
            id="filter-elements-remove-layer-filter-btn"          
            type="button" 
            class="btn btn-block btn-outline"
            (click)="removeFilterOnProperty()"
            [disabled]="!formData.property || !selectedLayerHasFilterOnProperty()"
            disabled>
                Eliminar filtro capa
            </button>
        </div>

        <div class="col-md-4 p-1">
            <button 
            id="filter-elements-remove-all-filters-btn"
            type="button" 
            (click)="removeFilterOnAllLayers()"
            [disabled]="!formData.property || !isThereAnyLayerWithActiveFilter"
            class="btn btn-block btn-outline">
             Eliminar todo
            </button>
        </div>
    </div>
</div>