<div class="selector-section">
    <div class="row justify-content-center section">
        <div class="d-block d-xs-none p-0 col-12">
            <hr class="w-100 separator">
        </div>

        <div class="col-12 p-0 mb-2">
            <layer-selector
            label="Capa:"  
            [layerId]="layerId"
            (change)="onChangeLayerSelector($event)"
            ></layer-selector>
        </div>

        <ng-container *ngIf="atributes && atributes.length == 0">
            <label class="mb-2 ">Debe configurar algún atributo para esta herramienta.</label>
        </ng-container>
        

        <ng-container *ngIf="! atributes || (atributes && atributes.length > 0)">
            <div id="filter-elements-attribute-selector" class="col-12 p-0 mt-xs-2 mb-2 text-left">
                <label class="mb-2">Atributo:</label>
                <ng-select
                    class="layer-selector" 
                    placeholder="Seleccione una propiedad"
                    [clearable]="false"
                    [disabled]=" !formData.layer || showSpinner"            
                    [(ngModel)]="formData.property"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangePropertySelector()"
                    dropdownPosition="bottom"
                    >
                    <ng-option [value]="atribute.name" *ngFor="let atribute of atributes">
                        {{atribute.display_name}} <span *ngIf="selectedLayer.attributeExistsOnFilter(atribute.name)" style="font-weight: 600">- con filtro <img src="assets/icons/svg/map/feature-filter-no-lines.svg" alt="feature-filter" style="width:16px" draggable="false"></span>
                    </ng-option>
                </ng-select>
            </div>

            <div id="filter-elements-attributes-finder " class="pad-left-0 text-left pad-right-0">            
                <div class="w-100 text-left" class="pad-left-0">
                    <label class="mb-2 label-title"> Valores: </label>            
                    <input type="text"
                    [disabled]="! formData.property || (propertyValues && propertyValues.length === 0)"
                    class="form-control form-control-sm d-inline search-field"
                    placeholder="Buscar..." [(ngModel)]="search">            
                    <img src="assets/icons/svg/lupa.svg" class="icon search-icon-filtro" alt="lupa">                    
                </div>           
            </div>
            <div class="feature-property-values-section-empty"
                *ngIf="formData.property && propertyValues && propertyValues.length === 0" > Vacio 
            </div>

   

            <div id="filter-elements-attribute-values-list"
            class="feature-property-values-section"
            *ngIf="formData.property && (propertyValues && propertyValues.length > 0)">
                <label class="custom-control overflow-checkbox"
                *ngFor="let value of ( propertyValues | keyMatch : search)">
                    <input type="checkbox" class="overflow-control-input"
                    id="feature_value_{{value}}"
                    name="feature_value_{{value}}"
                    (change)="updateFilter(value)"     
                    [checked]="valueExistsOnFilter(value)"            >
                    <span class="overflow-control-indicator"></span>
                    <span class="overflow-control-description">{{value | titlecase}}</span>
                </label>
            </div> 
        </ng-container>
    </div>

    
    <div class="row mx-0 px-2 d-flex justify-content-center ">

        <div class="bottom-section">
    
            <div class="row mx-0 justify-content-between">
    
                <div class="col-4 p-1">
                    <button type="button" class="btn btn-block btn-ok" (click)="close()">
                        Aceptar
                    </button>
                </div>
        
                <div class="col-4 p-1">
                    <button 
                    id="filter-elements-remove-layer-filter-btn"          
                    type="button" 
                    class="btn btn-block btn-outline"
                    (click)="removeFilterOnProperty()"
                    [disabled]="!formData.property || !selectedLayerHasFilterOnProperty()"
                    disabled>
                        Eliminar filtro
                    </button>
                </div>
        
                <div class="col-4 p-1">
                    <button 
                    id="filter-elements-remove-all-filters-btn"
                    type="button" 
                    (click)="removeFilterOnAllLayers()"
                    [disabled]="!formData.property || !isThereAnyLayerWithActiveFilter "
                    class="btn btn-block btn-outline">
                     Eliminar todo
                    </button>
                </div>
    
            </div>
            
        </div>
    
    </div>

    <div *ngIf="showSpinner" class="spinner animate__animated animate__fadeIn animate__faster">
        <mat-spinner></mat-spinner>
    </div>
</div>