<div class="header animate__animated animate__fadeInRight animate__faster mb-5">
    <div class="row mx-0 align-items-center">
        
        <div class="col-10 col-md-5 title p-0">Configurar atributos</div>

        <div class="d-md-block col-4 col-md-4 px-2">

            <input name="search" class="finder" placeholder="Buscar coincidencias..." type="text">

            <img src="assets/icons/svg/lupa.svg" class="finder-icon" alt="buscar">

        </div>

        <div class="d-md-block col-2 col-md-2 px-2">

            <button type="button" class="btn btn-block px-md-4">
                Nuevo Atributo
            </button>

        </div>

        <div class="col-1 p-0 text-end">
            <img src="assets/icons/svg/ayuda.svg" class="help-icon float-end" alt="ayuda">
        </div>
        
    </div>
</div>
<app-container-settings></app-container-settings>
