<div class="content-dashboard animate__animated animate__fadeInRight animate__fast"
#vsContainer>
    <div class="dashboard-list d-lg-inline-block">

        <div class="row mb-1 py-2">
            
            <div class="col-md-12 px-0 selectors-row">
                <ng-select          
                    class="content-selector-dash"           
                    placeholder="Seleccione una propiedad"                                       
                    dropdownPosition="bottom"
                    [clearable] = false
                    [(ngModel)]="optionProyect"
                    >
                    <ng-option [value]="option" *ngFor="let option of optionsFilter; let i = index;">                   
                        <img class="logo-select" [src]="option.logo_src"> {{option.title}}                        
                    </ng-option>
                </ng-select>
            </div>

        </div>
        
        <div class="row mx-0 d-flex">
    
            <div class="col-12 p-0">
    
                <div class="row mx-0">
    
                    <div *ngFor="let data of records; let i = index;" class="col-12 p-0 col-lg-6 col-xl-4 mb-3">

                        <div class="dashboard-box dashboard-box-title borde-r-5">
                            <div class="col-12 py-2 dashboard-box-title-header">
                                <span>{{data.name}}</span>
                                <button type="button" class="btn-transparent" (click)="selectedIncident(data)">
                                    <img [src]="'assets/icons/png/ampliar.png'" alt="">
                                </button>
                            </div>
                            <div class="col-md-12 p-0 px-lg-3 text-left">
                                <span class="txt-box-header">{{data.lapse}}</span>
                            </div>
                        </div>

                        <div class="dashboard-box borde-r-15">
                            
                            <app-graphs-view></app-graphs-view>
                            <div class="contenedor-azul"></div>
                    
                            <div class="separator">
                                <div></div>
                            </div>
                    
                            <div class="info-section py-2">
                    
                                <div class="row mx-0 h-100 d-flex align-items-center">
                                    <div class="col-md-12 py-2 txt-incidents">
                                        Incidencias Resueltas
                                    </div>
                                </div>
                                <div class="row mx-0 h-100 px-md-1 align-items-center">
                                    <div class="col-md-6 p-0">
                                        <span class="last-access-label">Última visita</span><br/>
                                        <span class="last-access-label">hace 2 días</span>
                                    </div>
                                    <div class="col-md-6 p-0 logo">
                                        <img class="logo-img"
                                        [src]="'assets/icons/png/Fisotec - GIS SMART Environment.png'"
                                        [attr.alt]="''">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div [hidden]="records.length" class="w-100 animate__animated animate__fadeIn animate__faster">
                    <h1>Sin registros</h1>
                </div>
            
            </div>
                
        </div>
        
    </div>
    
    <app-card-details-projects [detailsProject]="false"></app-card-details-projects>

    <!-- SPINNER -->
    <div *ngIf="showSpinner" class="spinner animate__animated animate__fadeIn animate__faster">
        <mat-spinner></mat-spinner>
    </div>

</div>