@import url('../../dashboard.component.scss');

.logo-select{
    width: 25px;
}

.ng-select.content-selector-dash {
    position: relative;
    display: block;
    box-sizing: border-box;    
    font-size: .825rem;
    background-color: #FAFAFA;
    border-color: #808080;
    border-radius: .125rem;
    color: #222;
    font-family: 'NunitoSans' !important;
    min-width: 250px;
}

.ng-select.content-selector-dash ::ng-deep .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    min-height: 40px;
    font-size: .925rem;
    align-items: center;
    font-family: 'NunitoSans' !important;
    border-color: #808080;
    min-width: 250px;
}

.dashboard-title-name{
  font-family: 'Rubik Bold' !important;
  color: #00204A !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 25px !important;
  margin-bottom: 0;
}

.contenedor-azul{
    height: 24px;    
    background-color: rgba(167,210,255,0.5);
}

