<div class="col-12 " style="backface-visibility: hidden;">

  <!--start form-->
  <form action="" class="" id="login-form">

    <div class="row register-box radius-5 animate__animated  animate__fadeInLeft animate__faster">
      <div class="col-12  gray-container radius-5">

        <div class="row ">

          <div class="col-lg-6 col-sm-12 col-12 logo-box-profile">

            <div class="logo center-mobile">
              <img src="assets/images/logo-white.svg" class="icon-fiso-profile" alt="logo">

            </div>
          </div>

          <div class="col-lg-6 col-sm-12 col-12  radius-5 radius-mobile container-height fade-in-div ">

            <div class="row top-login">


              <!--header-->
              <div class="col-lg-6 col-md-12  col-sm-12 col-12 mt-5 mobile-top-header fade-in-profile">
                <div class="text-center">
                  <img [src]="user.profile_photo_path" onerror="this.src='assets/icons/svg/USUARIO1.svg';"
                    class="rounded-circle avatar " alt="">
                </div>

                <p class="text-center sub-title-profile">Bienvenido</p>
                <h2 class="text-center title-profile">{{user.full_name}}</h2>
                <div class="text-center">
                  <img src="assets/icons/png/check.png" class="check-icon" alt="">
                </div>


              </div>

              <!--end header-->


            </div>

            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="mt-2">
                  <p class="loading loading-text">Ingresando</p>
                </div>
              </div>
            </div>






          </div>




        </div>

      </div>

    </div>

  </form>
  <!--end form-->


</div>