.radius-5{
  border-radius: 5% !important;
}

//validations
.error-text{
  color: red;
  display: inline;
  }

.hidden{
  display: none;
}

.show{
  display: block;

}

.active{
  color: #00204A!important;
}

.less-2{
  margin-top: -2%;
}


.light-bold{
  font-family: "Rubik" !important;
  text-align: right;
  font-weight: 600;

}

.top-desktop{
  margin-top: 20%;
}
.bottom-desktop{
  margin-bottom: 30%;
}
//end validations


//tabs

.top-login{
  margin-top: 5vw;
} 
.container-height{
  height: 35vw !important;
}

.tablink hr{
  //border: 2px solid black;
  height: 4px !important;
}

.dot-div{
  width: 3%;
  display: table;
}

.dot-div span{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: gray;
}

.left-4{
  margin-left: 4%;
}

.left{
  margin-left: -1%;
}
//endtabs

//titles
h1{
  font-family: "Rubik Bold" !important;
  font-size: 1.5vw;
}

.radio-text{
  font-family: "NunitoSans" !important;
}

p{
  margin-bottom:0 !important;
}

p span{
  font-family: "NunitoSans" !important;
}

h5{
  font-family: "Rubik Bold" !important;
  font-size: 0.9vw;
}

a{
  text-decoration: none;
  font-family: "Rubik" !important;
  color: #00204A;
  font-weight: 700;


}
small{
  font-family: "Rubik Light" !important;
  font-size: 0.7vw;
}

p{
  font-family: "Rubik Light" !important;
  font-size: 0.8vw;

}

.eye-icon{
  cursor: pointer;
  width: 1vw;
  margin-left: -8%;
}
//end titles

//inputs
label{
  font-size: 0.9vw;
  font-family: "Rubik Bold" !important;

}

input{
  font-size: 0.8vw;
  font-family: "Rubik" !important;
  background-color: #BBDDE3;
  box-shadow: none;
  border-radius: 10px;


}

.disabled{
  background-color: #828282;

}

.enabled{
  background-color: #00204A;

}

.back-button{
  color: #fff;
  font-family: Rubik !important;
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  width: 100%;


}

.next-button{
  color: #fff;
  font-family: Rubik !important;
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  width: 100%;


}

//end inputs


//content

.module-image{
width: 11vw;
}

//content

.sector-image{
  width: 11vw;
  }
  

.pointer{
  cursor: pointer;
}
.gray-container{
  background-color: rgba(0,46,66,0.45);

}

#content-background{
  background-image: url('/assets/images/register-background.png');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  

}

.register-box{
  background-image: url('/assets/images/build.png');
  background-size: cover;
  background-position: center;


}




.recovery-inputs{
  background-color: #fff;
  opacity: 0.9;
  clip-path: circle(39vw at right center);

}

.logo-box{
  justify-content: center;
  display: flex;
  align-items: center;

}

.logo{
text-align: center;
}

.icon-fiso{
  width: 12vw;
}

#recovery-form{

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60vw;
  border-radius: 22px;
}
/* media */
  
 @media(min-width: 800px) and (min-height: 600px)
 {
     
 }
 
 @media(min-width: 1024px) and (min-height: 768px)
 {
     
 }
 
 @media(min-width: 1152px) and (min-height: 864px)
 {
     
 }
 
 @media(min-width: 1176px) and (min-height: 664px)
 {
     
 }
 
 @media(min-width: 1280px) and (min-height: 720px)
 {
     
 }
 
 @media(min-width: 1280px) and (min-height: 768px)
 {
     
 }

 @media(min-width: 1280px) and (min-height: 800px)
 {
     
 }
 
 @media(min-width: 1280px) and (min-height: 960px)
 {
     
 }
 
 @media(min-width: 1280px) and (min-height: 1024px)
 {
     
 }
 
 @media(min-width: 1360px) and (min-height: 765px)
 {

  
     
 }
 
 @media(max-width: 1366px) and (max-height: 657px)
 {


 }

 @media(min-width: 1440px) and (min-height: 900px)
 {
     
 }

 @media(min-width: 1600px) and (min-height: 900px)
 {
  
 }
 
 @media(min-width: 1680px) and (min-height: 1024px)
 {
 
 }

 @media(min-width: 1680px) and (min-height: 1050px)
 {
    
 }
 
 @media(min-width: 1600px) and (min-height: 1200px)
 {
     
 }
   
 @media(min-width: 1768px) and (min-height: 992px)
 {
     
 }
 
 @media(min-width: 1920px) and (min-height: 1080px)
 {
     
 }
 
 @media(min-height: 1210px)
 {
     
 }

 //laptops
 
 @media(max-width: 1440px) and (max-height: 900px)
 {
  .container-height{
    height: 40vw !important;
  }
 }

 
 @media(max-width: 1280px) and (max-height: 1024px)
 {
  
  .container-height{
    height: 43vw !important;
  }
 }


 @media(max-width: 1176px) and (max-height: 864px)
 {
  .container-height{
    height: 46vw !important;
  }
     
 }

 @media(max-width: 1024px) and (max-height: 768px)
 {
  
  .container-height{
    height: 50vw !important;
  }
 }

//end laptops

 
 //mobile


 @media(max-width: 912px) and (max-height: 1369px)
 {

  //titles
  h1{
    font-size: 1.5vh !important;
  }

  //end titles

  //images
  .module-image{
    width: 11vh;

  }


    

  .sector-image{
    width: 13vh;
    }

  .icon-fiso{
    width: 12vh;
  }


  .radius-mobile{
    border-radius: 0 0 5% 5% !important;
  }

  .eye-icon{
    width: 1.5vh;
  }
  //end images


  //content

  h5{
    font-size: 1.2vh !important;
  }
  .recovery-inputs{
    clip-path: none;
  
  }

  #recovery-form{
    width: 35vh;
  }
  .back-button{
    float: right;
  }

  .next-button{
    float: left;
  }

  .left-8-mobile{
    margin-left: 7vw !important;
  }

 
  .center-mobile{
    text-align: center !important;
  }

  .center-mobile button{
    float: none !important;
  }

  .mobile-top-header{
    margin-top: 5% !important;
    text-align: center;
  }

  .margin-mobile-2{
    margin-top: 0.5rem!important;
  }

  .top-login{
    margin-top: 2vh;
  }
  .container-height{
    height: initial !important;
  }
//end content

  //inputs

  button{
    font-size: 1vh !important;
    width: 100% !important;

  }

  label{
    font-size: 1.2vh !important;  
  }
  
  input{
    font-size: 1.2vh !important;  
  }

  p,small{
    font-size: 1.2vh !important;  
  }
 
  small:not(.no-valid){
    float: left !important;
  }

  .ng-select.custom ::ng-deep .ng-option{

    font-size: 1.2vh !important;

}


  //end inputs
 }
 
