<div class="dashboard-details">
        
    <div class="row mx-0 animate__animated animate__fadeInRight animate__faster">
        
        <div class="col-12 py-3 px-2 px-lg-3">

            <div class="row mx-0 justify-content-around align-items-center">
                <div class="col-3 pe-2 ps-0 px-md-3 px-lg-0 text-md-start">
                    <img [src]="'assets/icons/svg/USUARIO1.svg'">
                </div>
                <div class="col-9 pe-2 ps-0 px-md-3 px-lg-0 text-md-start">
                    <h3 class="dashboard-subtitle-welcome"> Bienvenido</h3> 
                    <h2 class="dashboard-title-welcome"> {{ user.full_name }}</h2>
                </div>
            </div>

        </div>
        
        <div class="col-12 my-1 px-2 px-lg-3">
            <div class="row mx-0 align-items-center">
        
                <div class="col-md-12 py-3 px-0">
                    <h4 class="mb-1">Empresa: <b>Fisotex</b></h4>
                    <h4 class="mb-1">Proyecto: <b>Alcaudete</b></h4>
                    Proyección: ETRS8g/ UTM zone 30N
                </div>
        
            </div>
        </div>

        <div class="col-12 my-1 px-2 px-lg-3 py-xl-2">

            <div class="separator mb-2">
                <div></div>
            </div>

            <div class="row mx-0 section-label">
                
                <div class="col-md-12 p-0 text-start">
                    <small><b class="text-uppercase">Equipo de trabajo:</b></small>
                    <ul>
                        <li>
                            <small>José Ruiviejo</small>
                        </li>
                        <li>
                            <small>Juan Castillo</small>
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="separator mt-2">
                <div></div>
            </div>

        </div>

        <div class="col-12 my-1 px-2 px-lg-3">

            <div class="row mx-0">
                
                <div class="col-md-12 my-2 py-1 px-0 dashboard-option">
                    <button type="button" class="btn-outline-options">
                        <img [src]="'assets/icons/svg/INCIDENCIA.svg'" alt="Incidencia">
                        Incidencias
                    </button>
                    <button type="button" class="btn-outline-options">
                        <img [src]="'assets/icons/svg/layout-text-window-reverse-svgrepo-com.svg'" alt="Ordenes de trabajo">
                        Ordenes de Trabajo
                    </button>
                    <button type="button" class="btn-outline-options">
                        <img [src]="'assets/icons/svg/tools-svgrepo-com.svg'" alt="Mantenimiento Preventivo">
                        Mantenimiento Preventivo
                    </button>
                    <button type="button" class="btn-outline-options">
                        <img [src]="'assets/icons/svg/almacen.svg'" alt="Almacenes">
                        Almacenes
                    </button>

                </div>
                
            </div>

        </div>
    
    </div>

</div>
