.spinner{
    top: auto;
    bottom: 0;
    height: 92.5%;
}

.scrollable{
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 47rem;
}

.detail-element{
    list-style-type: none;
}

.list-element{
    height: 45rem;
}

.property-key{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
}

.title{
    color: #001E33;
    font-family: 'Rubik Bold' !important;
    border-bottom: 0.1rem solid #cdcdcd;
    font-weight: bold;
    text-align: justify;
}

.checkbox input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.element-align{
    text-align: left;
    font-family: 'NunitoSans' !important;
    font-size: 14px;
}
.checkbox-align{
    text-align: right;
}
.cursor{
    cursor: pointer;
}
@media(max-width: 800px)
{
   
   .list-element{
        height: 10rem;
    }
    .scrollable{
        max-height: 10rem;
    }
}
