<div id="content-background">


    <div class="container">
  
      <div class="row">
        <div class="col-12">
  
          <!--start form-->
          <form action="" #passwordRecoveryForm [formGroup]="form" (ngSubmit)="onSubmit()" id="recovery-form">
  
            <div class="row h-100 register-box radius-5">
              <div class="col-12 gray-container radius-5">
  
                <div class="row h-100">
  
                  <div class="col-lg-4 col-sm-12 col-12 logo-box">
  
                    <div class="logo">
                      <img src="assets/images/logo-fisotec.png" class="icon-fiso" alt="logo">
  
                    </div>
                  </div>
  
                  <div class="col-lg-8 col-sm-12 col-12 recovery-inputs radius-5 container-height  radius-mobile">
  
                    <div class="row top-login">
  
  
  
                      <!--header-->
                      <div class="col-lg-8 offset-lg-2  col-sm-12 col-12  mobile-top-header  top-desktop">
                        <h1 class="text-left p-0 m-0">Recuperar contraseña</h1>
                        <p class=""><span>Indícanos la dirección de correo electrónico asociada a tu cuenta y te enviaremos el link de recuperación de contraseña.

                        </span></p>
                      </div>
                      <!--end header-->
  
            
                    </div>
  
        
  
                    <div class="row">
                      <!--input data-->
  
                      <div class="col-lg-10 offset-lg-2 col-sm-12 col-12">
  
                        <!--email-->
                        <div class="row">
                          
                          <div class="col-lg-10 col-sm-12 col-12 less-2">
                            <label for="user_name"></label>
                            <input type="text" name="email" formControlName="email" class="form-control" value=""
                              placeholder="Escribe tu correo electronico" [ngClass]="{
                                invalid:
                                  form.controls.email.invalid &&
                                  form.controls.email.touched,
                                valid: form.controls.email.valid
                              }" required>
                            <small *ngIf="form.controls.email.invalid && form.controls.email.touched"
                              class="small-text float-end error-text">Este campo es requerido*</small>
                          </div>
  
                  
                        </div>
                        <!--end email-->
  
    
                        <!--buttons-->
                        <div class="row">
  
                          <div class="col-lg-10 mt-2 margin-mobile-2 col-sm-12 col-12 ">
  
                            <div class="row">
                             
  
                              <div class="col-lg-12 col-sm-12 col-12 center-mobile">
                                  <button class="next-button btn enabled" [disabled]="form.invalid || sendingForm" type="submit"  >
                                    Enviar
                                </button>
  
                              </div>

                              <div class="col-lg-12 col-sm-12 col-12 center-mobile mt-2 bottom-desktop">
                               <p class="text-center">
                                <a routerLink="/login">Volver al login</a>
                               </p>

                            </div>
                            </div>
  
                          </div>
  
                        </div>
                        <!--end buttons-->
  
                 
  
  
                      </div>
                      <!--end input data-->
  
  
                    </div>
  
  
  
                  </div>
  
  
                </div>
  
              </div>
  
            </div>
  
          </form>
          <!--end form-->
  
  
        </div>
      </div>
    </div>
  </div>