@import url('../../dashboard.component.scss');

.pad-left-right{
    padding-right: 16px;
    padding-left: 16px;
}

.back{
    font-family: 'Rubik Bold' !important;
    color: #00204A !important;
    
}