<div class="bar animate__animated animate__faster"  [ngClass]="{
    'animate__fadeOutLeft': isCollapsed,
    'animate__fadeInLeft': ! isCollapsed
}">
    
    <div #buttonBar [sortablejs]="toolGroups" class="button-bar">
    
        <div  *ngFor="let toolGroup of toolGroups" class="tool-group">
    
            <div *ngIf="toolGroup.path" class="tool-group-btn">
    
                <button type="button"
                    class="btn-transparent tool-group px-0 px-xxl-1" 
                    (click)="toogleSelectedStateInTool(toolGroup)"
                    [attr.title]="toolGroup.display_name" 
                    >
                    <img [src]="'assets/icons/svg/map/' + toolGroup.name + ( toolGroup.selected ? '-on' : '' ) + '.svg'" [alt]="toolGroup.name">
                </button>

                <small (click)="toogleSelectedStateInTool(toolGroup)" 
                        [class.bold]="toolGroup.selected" 
                        class="cursor-pointer d-none d-xl-block mx-xxl-1 mt-1">
                        {{ toolGroup.display_name }}
                </small>
    
            </div>
           
            <div *ngIf="! toolGroup.path" class="tool-group-btn">
    
                <button type="button"
                        [attr.aria-expanded]="!toolGroup.selected" aria-controls="collapse-tool-group"
                        class="btn-transparent tool-group px-0 px-xxl-1" 
                        [attr.title]="toolGroup.display_name" 
                        (click)="toogleSelectedStateOnToolGroup(toolGroup)"
                        >
                    <img [src]="'assets/icons/svg/map/' + toolGroup.name + ( toolGroup.selected ? '-on' : '' ) + '.svg'" [alt]="toolGroup.name">
                </button>

                <small (click)="toogleSelectedStateOnToolGroup(toolGroup)"
                     [class.bold]="toolGroup.selected" 
                     class="cursor-pointer d-none d-xl-block mx-xxl-1 mt-1">
                    {{ toolGroup.display_name }}
                </small>
    
            </div>
    
            <div *ngIf="! toolGroup.path" [sortablejs]="toolGroup.gis_tools" class="tools-container" [collapse]="! toolGroup.selected" [isAnimated]="true">

                <div  class="mb-1 mx-md-0" *ngFor="let tool of toolGroup.gis_tools">

                    <button type="button"
                            class="btn-transparent px-0 px-xxl-1" 
                            (click)="toogleSelectedStateInTool(tool)"
                            [attr.title]="tool.display_name" 
                            >
                        <img [src]="'assets/icons/svg/map/' + tool.name + ( tool.selected ? '-on' : '' ) + '.svg'" [alt]="tool.name">
                    </button>
    
                    <small (click)="toogleSelectedStateInTool(tool)" 
                            [class.bold]="tool.selected" 
                            class="cursor-pointer d-none d-xl-block mx-xxl-1 my-1">
                        {{ tool.display_name }}
                    </small>

                </div>
    
            </div>
    
            <div class="separator"></div>
    
        </div>

    </div>

    <div class="legend-btn-container">
        <button type="button"
        class="btn-transparent" 
        title="Leyenda" 
        (click)="false"
        >
            <img class="legend-icon" src="assets/icons/svg/map/show.svg" alt="Leyenda">
        </button>
    </div>

</div>

<div class="collapse-button-bar animate__animated animate__faster" [class.collapsed]="isCollapsed" [ngClass]="{
    'animate__fadeOutLeft': thereIsAnEnabledTool && isOnSmallScreen,
    'animate__fadeInLeft': ! isOnSmallScreen
}">
    <button type="button"
    class="btn-transparent collapse-btn" 
    [title]="isCollapsed ? 'Mostrar' : 'Ocultar'" 
    (click)="toolService.toggleButtonBarCollapsedState()"
    >
        <img class="collapse-btn-icon" [src]="isCollapsed ? 'assets/icons/svg/chevron-big-right.svg' : 'assets/icons/svg/chevron-big-left.svg'" alt="Leyenda">
    </button>
</div>