/*
* HEADER
*/
.header {
    display: block !important;
    height: 55px !important;
}

.header h4 {
    color: #00204A;
    font-family: 'Rubik Bold' !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.dashboard-type {
    width: 100%;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-start;
    color: #00204A !important;
    font-family: 'Rubik' !important;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    padding-left: 0px;
}

.dashboard-type .btn-ok{
    color: #001E33;   
    border-radius: 3px;
    background-color: rgba(243,243,244,0.6);
    width: 180px;
    font-size: .825rem;
    padding: 4px;
    font-family: "Rubik Bold" !important;
    height: 40px;
    line-height: 1.2;
    margin-right: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}

.dashboard-type .btn-outline{
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    color: #001E33;  
    font-size: .825rem;
    width: 180px;
    padding: 4px;
    font-family: "Rubik Bold" !important;
    height: 40px;
    line-height: 1.2;
    margin-right: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*
* DASHBOARD CARDS INFO GRAPHICS
* background-color: rgba(243,243,244,0.6);
*/
.content-dashboard {
    overflow: auto;
    height: 92% !important;
    width: 106%;
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    top: 75px;
    max-height: 100%;
    position: absolute;
    margin-top: 5px;
}

.dashboard-list{
    width: 100%;
    height: 100%;
    padding: 0 0 .5rem 0;
    text-align: center;
    display: inline-block !important;
}

.dashboard-list .selectors-row
{
    display: inline-flex;
    justify-content: end;
    width: 97% !important;
}

.dashboard-list .selectors-row .btn-select{
    width: fit-content !important;
    height: 35px !important;
    border: 1px solid #808080;
    border-radius: 0.3125rem;
    font-family: 'Rubik' !important;
    font-size: 14px;
}

.dashboard-list .selectors-row .btn-select img,
.dashboard-list .selectors-row .dropdown-menu img{
    width: 20px;
    height: 20px;
}

select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.dashboard-list .dashboard-box{
    background: #fff;
    width: 95%;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    border: none;
}

.borde-r-5{
    border-radius: .3125rem;
}

.borde-r-15{
    border-radius: .938rem;
}

.dashboard-list .dashboard-box .separator {
    width: 100%;
    height: .4rem;
}

.dashboard-list .dashboard-box .separator > div {
    width: 40%;
    height: 100%;
    float: right;
    background: #222831;
}

.dashboard-list .dashboard-box .col-12:nth-child(1){
    color: #00204A;
    background: rgba(167,210,255,0.5);
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
}

.dashboard-list .dashboard-box-title{
    margin-bottom: 0.7rem !important;
    margin-top: 1rem;
}

.dashboard-list .dashboard-box-title-header {
    display: inline-flex;
    padding-left: 15px;
    justify-content: space-between;
}

.dashboard-list .dashboard-box-title-header span{
    font-family: 'Rubik Bold' !important;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
}

.dashboard-list .dashboard-box-title-header button {
    width: 33px;
    height: 25px;
    margin-right: 10px;
}

.dashboard-list .dashboard-box-title-header button img {
    width: 100%;
    height: 100%;
}

.dashboard-list .dashboard-box-title-header:nth-child(2):hover  {
    cursor: pointer;
}

.dashboard-list .dashboard-box-title .txt-box-header {
    font-family: 'NunitoSans' !important;
    font-weight: normal;
    font-size: 0.8rem;
}

.dashboard-list .dashboard-box .info-section{
    height: 40%;
    width: 100%;
}

.dashboard-list .dashboard-box .info-section .txt-incidents {
    color: #00204A;
    font-family: 'Rubik Bold' !important;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.dashboard-list .dashboard-box .info-section .last-access-label{
    color: #00204A;
    font-family: 'NunitoSans' !important;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    display: inline-block;
}

.dashboard-list .dashboard-box .info-section .logo{
    display: inline-flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 5px !important;
}

.dashboard-list .dashboard-box .info-section .logo-img{
    width: 35px;
    height: 35px;
}

.dashboard-list .dashboard-box .logo-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.graphics-details {
    height: 55vh;
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-radius: .3125rem !important;
    padding: 5px;
}

.graphics-section{
    height: 38vh;
    width: 100%;
    border: none;
    background-color: rgba(167,210,255,0.5);
    border-top-left-radius: .938rem !important;
    border-top-right-radius: .938rem !important;
}

.graphics-section .containter-graphics,
.graphics-details .containter-graphics {
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 24px;
}

.graphics-section .containter-graphics:hover,
.graphics-details .containter-graphics:hover {
    border: none;
}

/*
* DASHBOARD CARDS INFO PROJECT
*/
.dashboard-details{
    width: 100%;
    height: 99.4%;
    border-radius: .925rem .925rem 0 0;
    background-color: #FFF;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    vertical-align: top;
    align-items: start;
    margin-top: 0.2rem;
    max-height: 100%;
    display: inline-block !important;
    border: none;
}

.dashboard-details .col-12:nth-child(1){    
    border-top-left-radius: 0.975rem;
    border-top-right-radius: 0.975rem;
}


.dashboard-details .col-12:nth-child(1) button:not(.btn-transparent){
    border-radius: .925rem;
    background-color: #495C80;
    color: #fff;
    font-weight: 700;
    padding: .25rem 1.25rem;
}

.background-blue{
    background: rgba(167,210,255,0.5);
}

.dashboard-details .header-details {
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.dashboard-details .header-details .avatar{
    width: 5vw;
    height: 5vw;
}

.dashboard-details .header-details .logo-avatar{
    width: 100%;
    height: 100%;
}

.dashboard-details .header-details .dashboard-title-welcome,
.dashboard-details .header-details .dashboard-title-company{
    font-family: 'Rubik Bold' !important;
    color: #00204A !important;
    font-size: 1rem !important;    
    line-height: 25px !important;
    margin-bottom: 0;
}

.dashboard-details .header-details .dashboard-title-name{
    font-family: 'Rubik Bold' !important;
    color: #00204A !important;
    font-size: 1.5rem !important;    
    line-height: 25px !important;
    margin-bottom: 0;
}

.dashboard-details .info-projects {
    font-family: 'Raleway' !important;
    color: #001E33 !important;
    font-size: 1.05rem !important;
    font-weight: normal !important;
    line-height: 15px !important;
    display: grid;
    gap: 5px;
}

.dashboard-details .info-projects b {
    font-size: 1.15rem !important;    
    font-family: 'Rubik Bold' !important;
}

.dashboard-details .info-projects .text-incident {
    color: #222;
    font-family: "NunitoSans" !important;
    font-size: 1rem;
    line-height: 25px;
    text-align: justify;
}

.dashboard-details .section-label {
    display: grid;
    gap: 5px;
}

.dashboard-details .section-label .team-title {
    font-family: 'NunitoSans' !important;
    color: #333 !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}

.dashboard-details .section-label .team-name {
    font-family: 'NunitoSans' !important;
    color: #333 !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: 15px !important;
}

.dashboard-details .separator{
    width: 100%;
    height: .4rem;
}

.dashboard-details .separator div{
    width: 40%;
    height: 100%;
    background: #222831;
}

.dashboard-details .separator:nth-child(1) div{
    float: right;
}

.dashboard-details .separator:nth-child(2) div{
    float: left;
}

.dashboard-details .dashboard-option{
    height: 115px !important;

}

.dashboard-details .btn-outline-options img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.dashboard-details .btn-outline-options{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    background-color: #FFF;
    color: #495C80;
    width: 70px;
    height: 70px;
    padding: 5px;
    font-size: xx-small;
    line-height: 1.4;
    text-align: center;
    margin-left: 0px;
}

.text-left{
    text-align: left;
}

.ng-select.content-selector-dash ::ng-deep .ng-select-container {
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    min-height: 40px;
    font-size: .925rem;
    align-items: center;
    font-family: 'NunitoSans' !important;
    border-color: #808080;
    min-width: 250px;
}


.dashboard-details table th {
    color: #00204A;
    font-family: 'Rubik' !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
}

.dashboard-details table td {
    color: #00204A;
    font-family: 'Rubik' !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
}

.dashboard-details table td .icon-resolve {
    width: 16px;
    height: 16px;
    padding: 2px;
    background-color: green;
    border-radius: 50%;
    border: none;
}

.dashboard-details .container-info-details {
    height: 57vh;
    max-height: 100%;
    overflow-y: auto;
}

/*
* MEDIA QUERIES
*/
@media (max-width: 500px)
{
    .dashboard-type {
        display: grid;
    }

    .content-dashboard {
        display: grid;
        width: 112.5% !important;
        top: 140px !important;
    }
}

@media (min-width: 501px) and (max-width: 599px) 
{
    .content-dashboard {
        top:78px !important;
    }
}

@media (max-width: 599px)
{
    .content-dashboard {
        display: grid;
        width: 112.5% !important;
    }
    .dashboard-list{
       width: 100% !important;
    }
    .dashboard-details{
        width: 95% !important;
        border-radius: .925rem !important;
        margin-bottom: 1.2rem;
    }
    .dashboard-details .header-details {
        display: grid !important;
        justify-content: center !important;
        text-align: center;
    }

    .dashboard-details .header-details .col-3,
    .dashboard-details .header-details .col-9 {
        max-width: 100% !important;
        width: 100% !important;
    }

    .dashboard-details .header-details .avatar{
        width: 60px;
        height: 60px;
    }

    .dashboard-details .btn-outline-options {
        width: 50px !important;
        height: 50px !important;
    }

    .graphics-details {
        height: 45vh !important;
    }
}

@media (max-width: 599px) and (min-height: 620px)
{
    .content-dashboard {
        height: 93% !important;
    }
}

@media (max-width: 599px) and (min-height: 670px)
{
    .content-dashboard {
        height: 93.5% !important;
    }
}

@media (max-width: 599px) and (min-height: 700px)
{
    .content-dashboard {
        height: 94% !important;
    }
}

@media (max-width: 599px) and (min-height: 750px)
{
    .content-dashboard {
        height: 94.5% !important;
    }
}

@media (max-width: 599px) and (min-height: 800px)
{
    .content-dashboard {
        height: 95% !important;
    }
}

@media(min-width: 600px) and (max-width: 699px)
{
    .dashboard-list{
       width: 50% !important;
    }
    .dashboard-details{
        width: 50% !important;
    }
}

@media(min-width: 700px) and (max-width: 799px)
{
    .dashboard-list{
       width: 55% !important;
    }
    .dashboard-details{
        width: 45% !important;
    }
}

@media(min-width: 800px) and (max-width: 949px)
{
    .dashboard-list{
       width: 60% !important;
    }
    .dashboard-details{
        width: 40% !important;
    }
}

@media(min-width: 950px)
{
    .dashboard-list{
       width: 60% !important;
    }
    .dashboard-details{
        width: 40% !important;
    }
}

@media (max-width: 799px) {
    .content-dashboard {
        left: -6%;
        width: 111%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
        top: 78px;
    }
}

@media (min-width: 800px) {
    .content-dashboard {
        left: -3%;
        width: 106%;
        padding-right: 25px;
        padding-left: 25px;
        top: 79px;
    }
}

@media(min-width: 1024px)
 {
    .content-dashboard {
        left: -3%;
        width: 106%;
        padding-right: 25px;
        padding-left: 25px;
        top: 79px;
    }
    select{
        padding: 0 .5rem;
        font-size: .975rem;
    }

    .dashboard-details.empty{
        display: inline-block;
    } 
  
 }

 @media(min-width: 1280px)
 {
    .content-dashboard {
        left: -1.5%;
        width: 103%;
        padding-right: 25px;
        padding-left: 25px;
        top: 85px;
        height: 93% !important;
    }
    .dashboard-box .info-section{
        height: 45%;
    }
} 

@media(min-width: 800px) and (min-height: 600px)
{
    .dashboard-box{
        width: 92.5%;
    }
}
 

 @media (min-height: 541px) and (max-height: 640px)
 {
    .dashboard-details .container-info-details {
        height: 53vh !important;
    }
 }

 @media(max-height: 540px)
 {
    .dashboard-details .container-info-details {
        height: 48vh !important;
    }
 }
