/*
* HEADER
*/
.header {
    display: block !important;
    height: 55px !important;
}

.header h4 {
    color: #00204A;
    font-family: 'Rubik' !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.dashboard-type {
    width: 100%;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-start;
    color: #00204A !important;
    font-family: 'Rubik' !important;
    font-size: 1rem;
    font-weight: normal;
    line-height: 21px;
}

.dashboard-type .btn-type-graphics {
    border: none;
    background: #fff;
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-type .btn-type-active {
    border-top-left-radius: .575rem;
    border-top-right-radius: .575rem;
    background: rgba(243,243,244,0.6) !important;
    font-weight: 700;
}

/*
* DASHBOARD CARDS INFO GRAPHICS
*/
.content {
    background-color: rgba(243,243,244,0.6);
    overflow: auto;
    height: 92% !important;
    width: 106%;
    padding-right: 30px;
    padding-left: 30px;
    display: inline-block;
    top: 55px;
    max-height: 100%;
}

.dashboard-list{
    width: 100%;
    height: 100%;
    padding: 0 0 .5rem 0;
    text-align: center;
    display: inline-block !important;
}

.dashboard-list .selectors-row
{
    display: inline-flex;
    justify-content: end;
    width: 97% !important;
}

.dashboard-list .selectors-row select{
    width: 230px !important;
    height: 30px !important;
    border: 1px solid #333;
    border-radius: 0.575rem;
    font-family: 'Rubik' !important;
    font-size: .875rem;
    background-image: url(../../../../assets/icons/svg/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 15px 15px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.dashboard-list .dashboard-box{
    border-radius: .875rem;
    background: #fff;
    width: 95%;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
}

.dashboard-list .dashboard-box .separator {
    width: 100%;
    height: .4rem;
}

.dashboard-list .dashboard-box .separator > div {
    width: 40%;
    height: 100%;
    float: right;
    background: #222831;
}

.dashboard-list .dashboard-box .col-12:nth-child(1){
    color: #00204A;
    background: rgba(167,210,255,0.5);
    border-top-left-radius: .975rem;
    border-top-right-radius: .975rem;
}

.dashboard-list .dashboard-box-title{
    margin-bottom: 0.7rem !important;
}

.dashboard-list .dashboard-box-title-header {
    display: inline-flex;
    padding-left: 15px;
    justify-content: space-between;
}

.dashboard-list .dashboard-box-title-header span{
    font-family: 'Rubik' !important;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}

.dashboard-list .dashboard-box-title-header button {
    width: 33px;
    height: 25px;
    margin-right: 10px;
}

.dashboard-list .dashboard-box-title-header button img {
    width: 100%;
    height: 100%;
}

.dashboard-list .dashboard-box-title-header:nth-child(2):hover  {
    cursor: pointer;
}

.dashboard-list .dashboard-box-title .txt-box-header {
    font-family: 'NunitoSans' !important;
    font-weight: normal;
    font-size: 10px;
}

.dashboard-list .dashboard-box .info-section{
    height: 40%;
    width: 100%;
}

.dashboard-list .dashboard-box .info-section .txt-incidents {
    color: #00204A;
    font-family: 'Rubik' !important;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.dashboard-list .dashboard-box .info-section .last-access-label{
    color: #00204A;
    font-family: 'NunitoSans' !important;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    display: inline-block;
}

.dashboard-list .dashboard-box .info-section .logo{
    display: inline-flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 5px !important;
}

.dashboard-list .dashboard-box .info-section .logo-img{
    width: 35px;
    height: 35px;
}

.graphics-details {
    height: 55vh;
    width: 100%;
    border: none;
    background-color: rgba(167,210,255,0.5);
    border-top-left-radius: .975rem !important;
    border-top-right-radius: .975rem !important;
}

.graphics-section{
    height: 30vh;
    width: 100%;
    border: none;
    background-color: rgba(167,210,255,0.5);
    border-top-left-radius: .975rem !important;
    border-top-right-radius: .975rem !important;
}

.graphics-section .containter-graphics,
.graphics-details .containter-graphics {
    width: 100%;
    height: 100%;
    border: none;
}

.graphics-section .containter-graphics:hover,
.graphics-details .containter-graphics:hover {
    border: none;
}

/*
* DASHBOARD CARDS INFO PROJECT
*/
.dashboard-details{
    width: 100%;
    height: 99.4%;
    border-radius: .925rem .925rem 0 0;
    background-color: #FFF;
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.5);
    vertical-align: top;
    align-items: start;
    margin-top: 0.2rem;
    max-height: 100%;
    display: inline-block !important;
}

.dashboard-details .col-12:nth-child(1){
    background: rgba(167,210,255,0.5);
    border-top-left-radius: 0.975rem;
    border-top-right-radius: 0.975rem;
}

.dashboard-details .col-12:nth-child(1) button:not(.btn-transparent){
    border-radius: .925rem;
    background-color: #495C80;
    color: #fff;
    font-weight: 700;
    padding: .25rem 1.25rem;
}

.dashboard-details .header-details {
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.dashboard-details .header-details .avatar{
    width: 5vw;
    height: 5vw;
}

.dashboard-details .header-details .logo-avatar{
    width: 100%;
    height: 100%;
}

.dashboard-details .header-details .dashboard-title-welcome,
.dashboard-details .header-details .dashboard-title-company{
    font-family: 'Rubik' !important;
    color: #00204A !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    line-height: 25px !important;
    margin-bottom: 0;
}

.dashboard-details .header-details .dashboard-title-name{
    font-family: 'Rubik' !important;
    color: #00204A !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    line-height: 25px !important;
    margin-bottom: 0;
}

.dashboard-details .info-projects {
    font-family: 'Raleway' !important;
    color: #001E33 !important;
    font-size: 1.05rem !important;
    font-weight: normal !important;
    line-height: 15px !important;
    display: grid;
    gap: 5px;
}

.dashboard-details .info-projects b {
    font-size: 1.15rem !important;
    font-weight: 700 !important;
}

.dashboard-details .section-label {
    display: grid;
    gap: 5px;
}

.dashboard-details .section-label .team-title {
    font-family: 'NunitoSans' !important;
    color: #333 !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}

.dashboard-details .section-label .team-name {
    font-family: 'NunitoSans' !important;
    color: #333 !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: 15px !important;
}

.dashboard-details .separator{
    width: 100%;
    height: .4rem;
}

.dashboard-details .separator div{
    width: 40%;
    height: 100%;
    background: #222831;
}

.dashboard-details .separator:nth-child(1) div{
    float: right;
}

.dashboard-details .separator:nth-child(2) div{
    float: left;
}

.dashboard-details .dashboard-option{
    justify-content: center;
    display: inline-flex;
    gap: 15px;
}

.dashboard-details .btn-outline-options img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.dashboard-details .btn-outline-options{
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 2px 2px rgba(69,69,69,0.5);
    -webkit-box-shadow: 0px 1px 2px 2px rgba(69,69,69,0.5);
    -moz-box-shadow: 0px 1px 2px 2px rgba(69,69,69,0.5);
    background-color: #FFF;
    color: #495C80;  
    width: 5vw;
    height: 5vw;
    padding: 4px;
    font-size: 0.7vw;
    line-height: 1;
    text-align: center;
}

/*
* MEDIA QUERIES
*/
@media (max-width: 500px)
{
    .dashboard-type {
        display: grid;
    }

    .dashboard-type .btn-type-graphics {
        width: 220px;
        border-top-left-radius: .575rem;
        border-top-right-radius: .575rem;
        border: 1px solid rgba(243,243,244,0.6) !important;
    }
    .content {
        top: 120px !important;
    }
}

@media (max-width: 599px)
{
    .content {
        display: grid;
        width: 112.5% !important;
    }
    .dashboard-list{
       width: 100% !important;
    }
    .dashboard-details{
        width: 95% !important;
        border-radius: .925rem !important;
        margin-bottom: 1.2rem;
    }
    .dashboard-details .header-details {
        display: grid !important;
        justify-content: center !important;
        text-align: center;
    }

    .dashboard-details .header-details .col-3,
    .dashboard-details .header-details .col-9 {
        max-width: 100% !important;
        width: 100% !important;
    }

    .dashboard-details .header-details .avatar{
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 599px) and (min-height: 620px)
{
    .content {
        height: 93% !important;
    }
}

@media (max-width: 599px) and (min-height: 670px)
{
    .content {
        height: 93.5% !important;
    }
}

@media (max-width: 599px) and (min-height: 700px)
{
    .content {
        height: 94% !important;
    }
}

@media (max-width: 599px) and (min-height: 750px)
{
    .content {
        height: 94.5% !important;
    }
}

@media (max-width: 599px) and (min-height: 800px)
{
    .content {
        height: 95% !important;
    }
}

@media(min-width: 600px) and (max-width: 699px)
{
    .dashboard-list{
       width: 50% !important;
    }
    .dashboard-details{
        width: 50% !important;
    }
}

@media(min-width: 700px) and (max-width: 799px)
{
    .dashboard-list{
       width: 55% !important;
    }
    .dashboard-details{
        width: 45% !important;
    }
}

@media(min-width: 800px) and (max-width: 949px)
{
    .dashboard-list{
       width: 60% !important;
    }
    .dashboard-details{
        width: 40% !important;
    }
}

@media(min-width: 950px)
{
    .dashboard-list{
       width: 70% !important;
    }
    .dashboard-details{
        width: 30% !important;
    }
}

@media (max-width: 799px) {
    .content {
        left: -6%;
        width: 111%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
        top: 63px;
    }
}

@media (min-width: 800px) {
    .content {
        left: -3%;
        width: 103%;
        padding-right: 25px;
        padding-left: 25px;
        top: 64px;
    }
}

@media(min-width: 1024px)
 {
    .content {
        left: -3%;
        width: 105%;
        padding-right: 25px;
        padding-left: 25px;
        top: 64px;
    }
    select{
        padding: 0 .5rem;
        font-size: .975rem;
    }

    .dashboard-details.empty{
        display: inline-block;
    } 
  
 }

 @media(min-width: 1280px)
 {
    .content {
        left: -3%;
        width: 106%;
        padding-right: 25px;
        padding-left: 25px;
        top: 70px;
        height: 93% !important;
    }
    .dashboard-box .info-section{
        height: 45%;
    }
} 

@media(min-width: 800px) and (min-height: 600px)
{
    .dashboard-box{
        width: 92.5%;
    }
}
 
@media(min-width: 1024px) and (min-height: 768px)
{
}
  
@media(min-width: 1152px) and (min-height: 864px)
{
}
 
 @media(min-width: 1176px) and (min-height: 664px)
 {
 }
 
 @media(min-width: 1280px) and (min-height: 720px)
 {
 }
 
 @media(min-width: 1280px) and (min-height: 768px)
 {
 }

 @media(min-width: 1280px) and (min-height: 800px)
 {

 }
 
 @media(min-width: 1280px) and (min-height: 960px)
 {
 }
 
 @media(min-width: 1280px) and (min-height: 1024px)
 {
 }
 
 @media(min-width: 1360px) and (min-height: 765px)
 {
 }
 
 @media(min-width: 1440px) and (min-height: 900px)
 {
 }

 @media(min-width: 1600px) and (min-height: 900px)
 {
    
 }
 
 @media(min-width: 1600px) and (min-height: 1024px)
 {
   
 }

 @media(min-width: 1680px) and (min-height: 1024px)
 {
 }

 @media(min-width: 1680px) and (min-height: 1050px)
 {
     
 }
 
 @media(min-width: 1600px) and (min-height: 1200px)
 {
    
 }
   
 @media(min-width: 1768px) and (min-height: 992px)
 {
 }

 @media(min-width: 1880px) and (min-height: 882px)
 { 
    
 }
 
 @media(min-width: 1920px) and (min-height: 1080px)
 {
   
 }
 
 @media(min-height: 1210px)
 {
 }
