<div class="row mx-0">
    <div class="col-sm-6 col-md-4 col-lg-3 dashboard-option">
        <button type="button" class="btn-outline-options">
            <img [src]="'assets/icons/png/icons8_Plus_96px_2.png'" alt="Incidencia" title="Incidencia">
            Incidencias
        </button>        
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3 dashboard-option">            
        <button type="button" class="btn-outline-options">
            <img [src]="'assets/icons/png/icons8_Plus_96px_2 (1).png'" alt="Ordenes de trabajo" title="Ordenes de trabajo">
            Ordenes de Trabajo
        </button>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3 dashboard-option">                
        <button type="button" class="btn-outline-options">
            <img [src]="'assets/icons/png/icons8_Plus_96px_2 (2).png'" alt="Mantenimiento Preventivo" title="Mantenimiento Preventivo">
            Mantenimiento Preventivo
        </button>     
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 dashboard-option">                        
        <button type="button" class="btn-outline-options">
            <img [src]="'assets/icons/png/icons8_Plus_96px_2 (3).png'" alt="Almacenes" title="Almacenes">
            Almacenes
        </button>
    </div>
</div>

